# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [8]:
# Empty Dictionary
Dict={}
type(Dict)

dict

In [9]:
Dict1=dict()
type(Dict1)

dict

In [10]:
data={'Alabama':'Montgomary',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [11]:
data['Ohio']

'Columbus'

In [12]:
data['Georgia']

'Atlanta'

In [13]:
#Generate a key error if the key is not present in the dictionary 
#data['New York']

In [14]:
day={1:'Monday',
    2: 'Tuesday',
    4: ('Thursday', 'Friday'),
    5: ['Saturday','Sunday']}

### Update elements of a dictionary and add new elements

In [15]:
#Thursday 
day[4][0] #day[key][index]

'Thursday'

In [16]:
#Sunday 
day[5][1]

'Sunday'

In [17]:
day[3]='Wednesday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

In [18]:
# update Saturday to holiday 

day[5][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [19]:
#update sunday to holiday
day[5][1]="Holiday"
#update thursday to holdiay
# day[4][0]="Holiday" # Cannot update a tuple
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

### `get` and `update` methods
- get used to access a value from dictionary 
- updates the dictionary with new value also update the old value

In [20]:
#Return wednesday 
day.get(3)

'Wednesday'

In [21]:
#Monday
day.get(1)

'Monday'

In [22]:
day.get(6) # not generating an error if the key is not present in the dictionary

In [23]:
# day[6]

In [24]:
data

{'Alabama': 'Montgomary',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [25]:
#update old entry 
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomary',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [26]:
#new entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomary',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [27]:
data.update({'Missouri':'Jefferson City',
             'Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomary',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [61]:
#delte alabama using del method 
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [62]:
#delete ohio using pop
data.pop('Ohio')

'Columbus'

In [39]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [63]:
#delete the dictionary 
del data

In [65]:
#name error as the dictionary not present any more
#data

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [66]:
data={'Alabama':'Montgomary',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [67]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [68]:
data.values()

dict_values(['Montgomary', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus'])

In [69]:
data.items()

dict_items([('Alabama', 'Montgomary'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary (for loop)

In [2]:
#unpack the dictionary keys 
for i in data:
    print(i)
    print(type(i))

NameError: name 'data' is not defined

In [72]:
#unpack the dictionary values
for j in data.values():
    print(j)

Montgomary
Pheonix
Atlanta
Frankfort
Columbus

In [76]:
#dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomary')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [79]:
#unpack dictionary items
for j,k in data.items():
    print("state:"+j)
    print("capital:"+k)

state:Alabama
capital:Montgomary
state:Arizona
capital:Pheonix
state:Georgia
capital:Atlanta
state:Kentucky
capital:Frankfort
state:Ohio
capital:Columbus

### Convert dictionary to lists using `list()` function

In [80]:
data

{'Alabama': 'Montgomary',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [82]:
#dictionary keys to a list 
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [83]:
#Dictionary values to a list 
list(data.values())

['Montgomary', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus']

### A List in a Dictionary: How to unpack all of the entries

In [84]:
fav_language={'jen':['python','ruby'],
             'sarah':['c'],
             'edward':['ruby','java'],
             'phil':['python','java']}

In [85]:
fav_language

{'jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [97]:
for name, subjects in fav_language.items():
    print(f"Name is {name.title()} and the favorite languages are: ")
    for i in subjects:
        print("\t\t\t\t\t",i)

Name is Jen and the favorite languages are:
					 python
					 ruby
Name is Sarah and the favorite languages are:
					 c
Name is Edward and the favorite languages are:
					 ruby
					 java
Name is Phil and the favorite languages are:
					 python
					 java

###  A Dictionary in a Dictionary

In [99]:
user={'est':{
    'first':'albert',
    'last':'einstein',
    'location':'prinston'
},
      'mcurie':{
          'first':'marie',
          'last':'curie',
          'location':'paris'
      }   
    
    
}

In [101]:
#albert
user['est']['first']

'albert'

In [102]:
#paris
user['mcurie']['location']

'paris'

In [111]:
for username, user_info in user.items():
    print("Username: "+username)
    #print(user_info)
    full_name=user_info['first']+" "+user_info['last']
    print(full_name)
    print('location: ',user_info['location'])

Username: est
albert einstein
location:  prinston
Username: mcurie
marie curie
location:  paris